
body {
    background-color: rgb(210, 230, 196);
}
h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family:'Times New Roman';
    text-align: center;
}
.kenneth {
    background-image: url(./kenneth\ kun.jpg);
    height: 200px;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium';
    color: rgba(255, 0, 234, 0.596);
    border: 2px solid red;
}
.sumbagay {
    text-align: center;
}